In [1]:
import pandas as pd
import numpy as np
from tensorflow.keras import models,layers, wrappers, utils
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.model_selection import train_test_split

In [2]:
dataframe = pd.read_csv('bird.csv')
dataframe = dataframe.drop(columns='id')
dataframe.head()

    huml  humw  ulnal  ulnaw   feml  femw   tibl  tibw   tarl  tarw type
0  80.78  6.68  72.01   4.88  41.81  3.70   5.50  4.03  38.70  3.84   SW
1  88.91  6.63  80.53   5.59  47.04  4.30  80.22  4.51  41.50  4.01   SW
2  79.97  6.37  69.26   5.28  43.07  3.90  75.35  4.04  38.31  3.34   SW
3  77.65  5.70  65.76   4.77  40.04  3.52  69.17  3.40  35.78  3.41   SW
4  62.80  4.84  52.09   3.73  33.95  2.72  56.27  2.96  31.88  3.13   SW

In [3]:
dataframe.dtypes

huml     float64
humw     float64
ulnal    float64
ulnaw    float64
feml     float64
femw     float64
tibl     float64
tibw     float64
tarl     float64
tarw     float64
type      object
dtype: object

In [4]:
dataframe = dataframe.replace('', np.nan, regex=True)
dataframe = dataframe.dropna()

In [5]:
dataframe['type'] = pd.Categorical(dataframe['type'])
dataframe['type'] = dataframe.type.cat.codes
dataframe.head()

    huml  humw  ulnal  ulnaw   feml  femw   tibl  tibw   tarl  tarw  type
0  80.78  6.68  72.01   4.88  41.81  3.70   5.50  4.03  38.70  3.84     3
1  88.91  6.63  80.53   5.59  47.04  4.30  80.22  4.51  41.50  4.01     3
2  79.97  6.37  69.26   5.28  43.07  3.90  75.35  4.04  38.31  3.34     3
3  77.65  5.70  65.76   4.77  40.04  3.52  69.17  3.40  35.78  3.41     3
4  62.80  4.84  52.09   3.73  33.95  2.72  56.27  2.96  31.88  3.13     3

In [6]:
X = dataframe.values[:, 0:10]
Y = dataframe.values[:, 10:]
encoder = LabelEncoder()
encoder.fit(Y)
Y = encoder.transform(Y)
Y = utils.to_categorical(Y)
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3)

/home/fatemeh/.conda/envs/hw3/lib/python3.8/site-packages/sklearn/preprocessing/_label.py:235: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/fatemeh/.conda/envs/hw3/lib/python3.8/site-packages/sklearn/preprocessing/_label.py:268: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [7]:
dim = X_train.shape[1]
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)

In [8]:
model = models.Sequential()
model.add(layers.Dense(100, activation='relu', input_dim=dim))
model.add(layers.Dense(70, activation='relu', input_dim=dim))
model.add(layers.Dense(6, activation='softmax'))
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

In [9]:
model.fit(X_train, Y_train, batch_size=3, epochs=20)

Epoch 1/20
97/97 [==============================] - 0s 2ms/step - loss: 1.3904 - accuracy: 0.4775
Epoch 2/20
97/97 [==============================] - 0s 2ms/step - loss: 1.0961 - accuracy: 0.6125
Epoch 3/20
97/97 [==============================] - 0s 2ms/step - loss: 0.9470 - accuracy: 0.6332
Epoch 4/20
97/97 [==============================] - 0s 1ms/step - loss: 0.8518 - accuracy: 0.6782
Epoch 5/20
97/97 [==============================] - 0s 1ms/step - loss: 0.7839 - accuracy: 0.6990
Epoch 6/20
97/97 [==============================] - 0s 1ms/step - loss: 0.7186 - accuracy: 0.7370
Epoch 7/20
97/97 [==============================] - 0s 1ms/step - loss: 0.6621 - accuracy: 0.7578
Epoch 8/20
97/97 [==============================] - 0s 1ms/step - loss: 0.6237 - accuracy: 0.7993
Epoch 9/20
97/97 [==============================] - 0s 1ms/step - loss: 0.5752 - accuracy: 0.8166
Epoch 10/20
97/97 [==============================] - 0s 2ms/step - loss: 0.5871 - accuracy: 0.7820
Epoch 11/20
97/97 [==============================] - 0s 2ms/step - loss: 0.5060 - accuracy: 0.8408
Epoch 12/20
97/97 [==============================] - 0s 2ms/step - loss: 0.4615 - accuracy: 0.8547
Epoch 13/20
97/97 [==============================] - 0s 2ms/step - loss: 0.4590 - accuracy: 0.8547
Epoch 14/20
97/97 [==============================] - 0s 1ms/step - loss: 0.4222 - accuracy: 0.8685
Epoch 15/20
97/97 [==============================] - 0s 2ms/step - loss: 0.4412 - accuracy: 0.8547
Epoch 16/20
97/97 [==============================] - 0s 1ms/step - loss: 0.3786 - accuracy: 0.8962
Epoch 17/20
97/97 [==============================] - 0s 1ms/step - loss: 0.3818 - accuracy: 0.8893
Epoch 18/20
97/97 [==============================] - 0s 1ms/step - loss: 0.3764 - accuracy: 0.8824
Epoch 19/20
97/97 [==============================] - 0s 1ms/step - loss: 0.3364 - accuracy: 0.9204
Epoch 20/20
97/97 [==============================] - 0s 1ms/step - loss: 0.3135 - accuracy: 0.9100

In [10]:
model.evaluate(X_test, Y_test)

4/4 [==============================] - 0s 2ms/step - loss: 0.3382 - accuracy: 0.8952

[0.33818280696868896, 0.8951612710952759]