In [2]:
import tensorflow as tf
import pandas

In [3]:
import numpy as np

In [34]:
data = pandas.read_csv("E:/my_courses/هوش محاسباتی/birds-bones-and-living-habits/bird.csv")

In [5]:
len(data)

420

In [6]:
train_len = test_len = cross_validation_len =140

In [7]:
batch_size = 1 #because data is under 1000
epochs = 15

In [8]:
data.head()

   id   huml  humw  ulnal  ulnaw   feml  femw   tibl  tibw   tarl  tarw type
0   0  80.78  6.68  72.01   4.88  41.81  3.70   5.50  4.03  38.70  3.84   SW
1   1  88.91  6.63  80.53   5.59  47.04  4.30  80.22  4.51  41.50  4.01   SW
2   2  79.97  6.37  69.26   5.28  43.07  3.90  75.35  4.04  38.31  3.34   SW
3   3  77.65  5.70  65.76   4.77  40.04  3.52  69.17  3.40  35.78  3.41   SW
4   4  62.80  4.84  52.09   3.73  33.95  2.72  56.27  2.96  31.88  3.13   SW

In [35]:
del data['id'] #remove id column because it is useless

In [36]:
data.head()

    huml  humw  ulnal  ulnaw   feml  femw   tibl  tibw   tarl  tarw type
0  80.78  6.68  72.01   4.88  41.81  3.70   5.50  4.03  38.70  3.84   SW
1  88.91  6.63  80.53   5.59  47.04  4.30  80.22  4.51  41.50  4.01   SW
2  79.97  6.37  69.26   5.28  43.07  3.90  75.35  4.04  38.31  3.34   SW
3  77.65  5.70  65.76   4.77  40.04  3.52  69.17  3.40  35.78  3.41   SW
4  62.80  4.84  52.09   3.73  33.95  2.72  56.27  2.96  31.88  3.13   SW

In [11]:
classes = data.drop_duplicates(subset='type')['type'] #catch nomber of classes of birds

In [12]:
len(classes)

6

In [13]:
class_of_birds1 = pandas.Series(classes.values,index=np.arange(6)).to_dict()
class_of_birds2 = pandas.Series(np.arange(6),index=classes.values).to_dict()
#make dictionary of class of birds 
class_of_birds2

{'SW': 0, 'W': 1, 'T': 2, 'R': 3, 'P': 4, 'SO': 5}

In [14]:
len(data['type'])

420

In [37]:
train_labels = [class_of_birds2[data['type'][i]] for i in range(train_len)]
cross_validation_labels = [class_of_birds2[data['type'][i+140]] for i in range(train_len)]
test_labels = [class_of_birds2[data['type'][i+280]] for i in range(train_len)]

In [38]:
del data['type']
data.head()

    huml  humw  ulnal  ulnaw   feml  femw   tibl  tibw   tarl  tarw
0  80.78  6.68  72.01   4.88  41.81  3.70   5.50  4.03  38.70  3.84
1  88.91  6.63  80.53   5.59  47.04  4.30  80.22  4.51  41.50  4.01
2  79.97  6.37  69.26   5.28  43.07  3.90  75.35  4.04  38.31  3.34
3  77.65  5.70  65.76   4.77  40.04  3.52  69.17  3.40  35.78  3.41
4  62.80  4.84  52.09   3.73  33.95  2.72  56.27  2.96  31.88  3.13

In [29]:
#build train
train_data = data[:140] #train_data which has features in it

In [30]:
train_labels = np.array(train_labels) #convert it to numpy array for some calculations

In [31]:
train_labels = train_labels.reshape(140,1)

In [32]:
#build cross validation 
cross_validation_data = data[140:280]

In [ ]:
cross_validation_labels =