In [1]:
import pandas as pd
import numpy as np
from tensorflow.keras import models,layers, wrappers, utils
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.model_selection import train_test_split

In [2]:
dataframe = pd.read_csv('bird.csv')
dataframe = dataframe.drop(columns='id')
dataframe.head()

    huml  humw  ulnal  ulnaw   feml  femw   tibl  tibw   tarl  tarw type
0  80.78  6.68  72.01   4.88  41.81  3.70   5.50  4.03  38.70  3.84   SW
1  88.91  6.63  80.53   5.59  47.04  4.30  80.22  4.51  41.50  4.01   SW
2  79.97  6.37  69.26   5.28  43.07  3.90  75.35  4.04  38.31  3.34   SW
3  77.65  5.70  65.76   4.77  40.04  3.52  69.17  3.40  35.78  3.41   SW
4  62.80  4.84  52.09   3.73  33.95  2.72  56.27  2.96  31.88  3.13   SW

In [3]:
dataframe.dtypes

huml     float64
humw     float64
ulnal    float64
ulnaw    float64
feml     float64
femw     float64
tibl     float64
tibw     float64
tarl     float64
tarw     float64
type      object
dtype: object

In [10]:
dataframe = dataframe.replace('', np.nan, regex=True)
dataframe.dropna()

      huml  humw  ulnal  ulnaw   feml  femw   tibl  tibw   tarl  tarw  type
0    80.78  6.68  72.01   4.88  41.81  3.70   5.50  4.03  38.70  3.84     3
1    88.91  6.63  80.53   5.59  47.04  4.30  80.22  4.51  41.50  4.01     3
2    79.97  6.37  69.26   5.28  43.07  3.90  75.35  4.04  38.31  3.34     3
3    77.65  5.70  65.76   4.77  40.04  3.52  69.17  3.40  35.78  3.41     3
4    62.80  4.84  52.09   3.73  33.95  2.72  56.27  2.96  31.88  3.13     3
..     ...   ...    ...    ...    ...   ...    ...   ...    ...   ...   ...
415  17.96  1.63  19.25   1.33  18.36  1.54  31.25  1.33  21.99  1.15     2
416  19.21  1.64  20.76   1.49  19.24  1.45  33.21  1.28  23.60  1.15     2
417  18.79  1.63  19.83   1.53  20.96  1.43  34.45  1.41  22.86  1.21     2
418  20.38  1.78  22.53   1.50  21.35  1.48  36.09  1.53  25.98  1.24     2
419  17.89  1.44  19.26   1.10  17.62  1.34  29.81  1.24  21.69  1.05     2

[413 rows x 11 columns]

In [11]:
dataframe['type'] = pd.Categorical(dataframe['type'])
dataframe['type'] = dataframe.type.cat.codes
dataframe.head()

    huml  humw  ulnal  ulnaw   feml  femw   tibl  tibw   tarl  tarw  type
0  80.78  6.68  72.01   4.88  41.81  3.70   5.50  4.03  38.70  3.84     3
1  88.91  6.63  80.53   5.59  47.04  4.30  80.22  4.51  41.50  4.01     3
2  79.97  6.37  69.26   5.28  43.07  3.90  75.35  4.04  38.31  3.34     3
3  77.65  5.70  65.76   4.77  40.04  3.52  69.17  3.40  35.78  3.41     3
4  62.80  4.84  52.09   3.73  33.95  2.72  56.27  2.96  31.88  3.13     3

In [12]:
X = dataframe.values[:, 0:10]
Y = dataframe.values[:, 10:]
encoder = LabelEncoder()
encoder.fit(Y)
Y = encoder.transform(Y)
Y = utils.to_categorical(Y)
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3)

/home/fatemeh/.conda/envs/hw3/lib/python3.8/site-packages/sklearn/preprocessing/_label.py:235: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/fatemeh/.conda/envs/hw3/lib/python3.8/site-packages/sklearn/preprocessing/_label.py:268: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [13]:
dim = X_train.shape[1]
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)

In [14]:
model = models.Sequential()
model.add(layers.Dense(18, activation='relu', input_dim=dim))
model.add(layers.Dense(6, activation='softmax'))
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

In [15]:
model.fit(X_train, Y_train, batch_size=10, epochs=20)

Epoch 1/20
30/30 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.0782
Epoch 2/20
30/30 [==============================] - 0s 1ms/step - loss: nan - accuracy: 0.0782
Epoch 3/20
30/30 [==============================] - 0s 1ms/step - loss: nan - accuracy: 0.0782
Epoch 4/20
30/30 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.0782
Epoch 5/20
30/30 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.0782
Epoch 6/20
30/30 [==============================] - 0s 790us/step - loss: nan - accuracy: 0.0782
Epoch 7/20
30/30 [==============================] - 0s 867us/step - loss: nan - accuracy: 0.0782
Epoch 8/20
30/30 [==============================] - 0s 983us/step - loss: nan - accuracy: 0.0782
Epoch 9/20
30/30 [==============================] - 0s 861us/step - loss: nan - accuracy: 0.0782
Epoch 10/20
30/30 [==============================] - 0s 993us/step - loss: nan - accuracy: 0.0782
Epoch 11/20
30/30 [==============================] - 0s 942us/step - loss: nan - accuracy: 0.0782
Epoch 12/20
30/30 [==============================] - 0s 997us/step - loss: nan - accuracy: 0.0782
Epoch 13/20
30/30 [==============================] - 0s 851us/step - loss: nan - accuracy: 0.0782
Epoch 14/20
30/30 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.0782
Epoch 15/20
30/30 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.0782
Epoch 16/20
30/30 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.0782
Epoch 17/20
30/30 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.0782
Epoch 18/20
30/30 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.0782
Epoch 19/20
30/30 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.0782
Epoch 20/20
30/30 [==============================] - 0s 1ms/step - loss: nan - accuracy: 0.0782

Baseline: 9.05% (6.10%)